.wrap {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  .wrap {
    min-height: -webkit-fill-available;
  }
}

.max-width {
  width: min(calc(var(--max-width) * 1rem), calc(100% - 10vw));
  margin: auto;
}
