header {
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

header .max-width {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

header h1 {
  height: 3.2rem;
  margin-left: 0;
  margin-right: auto;
}

.profile-btn {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  overflow: hidden;
}

.profile-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  position: relative;
}
.search-form input {
  background: none;
  border: 1px solid rgba(var(--rgb-light), 0.5);
  height: 4.4rem;
  border-radius: 2.2rem;
  padding: 0 1em;
  color: rgb(var(--rgb-light));
  /* color: #fff; */
  opacity: 0.5;
  transition: all 0.3s;
}
.search-form input:focus {
  opacity: 1;
}
.search-form input::placeholder {
  color: rgb(var(--rgb-light));
  /* color: #fff; */
}
.search-form button {
  position: absolute;
  top: 50%;
  right: 1.4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 3.2rem;
  height: 3.2rem;
}
.search-form button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
