.best {
  position: relative;
  margin: -9rem auto;
  z-index: 1;
}

.best a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: clamp(14rem, 18 / var(--max-width) * 100vw, 18rem);
  padding: 0 4rem;
  border-radius: calc(var(--border-radius) * 15);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: rgb(var(--rgb-light));
}

.best img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
